@import "tailwindcss";

:root {
  --background: #F5F7FD;
  --foreground: #171717;

  --color-main: #6F00DE;
  --color-secondary: #496AFF;

  --gradient-main: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-main),
    var(--color-main)
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jockey-one);
}

.bg-transparent-main {
  position: relative;
}

.bg-transparent-main::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-main);
  opacity: 0.09;
  z-index: -1;
}

.text-main, .title {
  background-image: var(--gradient-main);
  color: transparent;
  background-clip: text;
}

.title {
  font-size: 4em;
  line-height: 1em;
}

.subtitle {
  color: #313131;
  font-size: 2.5em;
  line-height: 1em;
}

.border-main {
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: var(--gradient-main);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jockey-one), Arial, Helvetica, sans-serif;
}

main {
  padding: 5dvh 5dvw;
}
